<div id="<%= dom_id training %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Tipo treino:</strong>
    <%= training.tipo_treino %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Serie treino:</strong>
    <%= training.serie_treino %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Repeticoes:</strong>
    <%= training.repeticoes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Student:</strong>
    <%= training.student_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this training", training, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this training", edit_training_path(training), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
