<div id="<%= dom_id employee %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome funcionario:</strong>
    <%= employee.nome_funcionario %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rg funcionario:</strong>
    <%= employee.rg_funcionario %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email funcionario:</strong>
    <%= employee.email_funcionario %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data inicio:</strong>
    <%= employee.data_inicio %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Salario funcionario:</strong>
    <%= employee.salario_funcionario %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gym:</strong>
    <%= employee.gym_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this employee", employee, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this employee", edit_employee_path(employee), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
