<!DOCTYPE html>
<html>
  <head>
    <title>ManaGym02</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col overflow-x-hidden bg-slate-200">
    <%= render "shared/header", class:"fixed" %>   
  
    <div class="flex mt-32">
      <%= yield %>
    </div>
  </body>
</html>
